<!--
 * @Author: Rober Chou
 * @Date: 2020-11-10 14:53:41
 * @LastEditTime: 2020-11-13 10:13:23
 * @LastEditors: Rober Chou
 * @Description: 
 * @symbol_custom_string_obkoro1: Code make our world better！！
-->
{% extends "learning_logs/base.html" %}
{% block content %}
    <form method="post" action="{% url 'users:register' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button name="submit">register</button>
        <input type="hidden" name="next" value="{% url 'learning_logs:index' %}" />
    </form>
{% endblock content %}